@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

span {
  display: inline-block;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: #22343d;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.flex-class {
  display: flex;
}

.grid-class {
  display: grid;
}

.selected {
  font-weight: 700;
  color: #22343d;
}

.contact-section {
  width: 100%;
  height: 50rem;
}
.contact-section .contact-text {
  padding: 5rem;
}
.contact-section .contact-text h1 {
  font-size: 3rem;
}
.contact-section .contact-text p {
  font-size: 1.2rem;
  margin-top: 1rem;
  width: 28rem;
  color: #6e7191;
}
.contact-section .contact-text .contact-flex {
  margin-top: 3rem;
}
.contact-section .contact-text .contact-flex button {
  border-radius: 14px;
  border: 1px solid #eff0f6;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
  color: #211f54;
  padding: 1rem 2rem;
  transition: 0.2s linear;
  margin-right: 3rem;
}
.contact-section .contact-text .contact-flex button:hover {
  background-color: #0075ff;
  color: #fff;
  transition: 0.2s linear;
}
.contact-section .contact-text .contact-flex img {
  width: 5rem;
}
.contact-section .contact-text .contact-flex .homFlex-text {
  padding-top: 1rem;
}
.contact-section .contact-text h3 {
  font-size: 1.5rem;
  margin-top: 5rem;
}
.contact-section .contact-text button {
  border-radius: 14px;
  border: 1px solid #eff0f6;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
  color: #211f54;
  padding: 1.3rem 2rem;
  transition: 0.2s linear;
}
.contact-section .contact-text button:hover {
  background-color: #0075ff;
  color: #fff;
  transition: 0.2s linear;
}
.contact-section .contact-text .btnContact {
  margin-top: 4rem;
}
.contact-section .contact-form {
  padding: 5rem;
}
.contact-section .contact-form input {
  width: 20rem;
  padding: 2rem;
  height: 4rem;
  border-radius: 1rem;
  border: 1px solid #eff0f6;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
}
.contact-section .contact-form .myClass {
  margin-top: 4rem;
}
.contact-section .contact-form .labeltextarea {
  position: absolute;
  margin-top: 2rem;
}
.contact-section .contact-form label {
  font-size: 1.2rem;
  color: #211f54;
}
.contact-section .contact-form textarea {
  margin-top: 4rem;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  height: 10rem;
  border: 1px solid #eff0f6;
  background: #fff;
  box-shadow: 0px 2px 7px 0px rgba(20, 20, 43, 0.08);
  width: 30rem;
}
.contact-section .contact-form button {
  background-color: #0075ff;
  color: #fff;
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  margin-top: 3rem;
  border: 1px solid #0075ff;
  transition: 0.1s linear;
}
.contact-section .contact-form button:hover {
  transition: 0.1s linear;
  background-color: #fff;
  color: #0075ff;
  border: 1px solid #0075ff;
}/*# sourceMappingURL=contant.css.map */